* {
  font-family: sans-serif;
}

.chatbox {
  background: #ccc;
  position: absolute;
  bottom: 0;
  right: 5px;
  border-radius: 5px 5px 0 0;
  width: 18%;
  height: 50%;
  overflow: hidden;
  display: grid;
  align-content: space-between;
}

.chatbox__zoey-photo {
  float: left;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 10px;
  filter: drop-shadow(1px 1px 2px #2f5675);
}

.chatbox-header {
  padding: 10px;
  overflow: hidden;
  background: #449199;
  height: 60px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  cursor: pointer;
  /*align-items: center;*/
}

.chatbox-agent {
  float: left;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}

.chatbox-conversation {
  margin: 0;
  padding: 5px 10px;
  overflow: hidden;
}

.chatbox-conversation__message {
  margin: 0 0 10px;
  display: inline-block;
  width: 90%;
  filter: drop-shadow(2px 2px 2px #5c5c66);
}

.chatbox-conversation__message--chat-bot-zoey>.chatbox-message__content {
  float: left;
  background-color: #507f85;
  border-bottom-left-radius: 1px;
}
.chatbox-conversation__message--chat-bot-zoey{
  padding-right: 10%;
}

.chatbox-conversation__message--user>.chatbox-message__content {
  float: right;
  background-color: #37565a;
  border-bottom-right-radius: 1px;
} 
.chatbox-conversation__message--user{
  padding-left: 10%;
}

.chatbox-message__sender {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.chatbox-message__content {
  padding: 5px 12px;
  background: #5e6e6e;
  border-radius: 7px;
  display: inline-block;
  margin: 5px 0 0;
  text-align: start;
  clear: both;
}

.chatbox-message__content>p {
  margin: 0;
}

.chatbox-footer {
  bottom: 0;
  right: 0;
  left: 0;
  background: #666;
  padding: 5px;
  display: grid;
  height: fit-content;
  grid-auto-flow: column;
  align-items: center;
  background: #449199;
}

.send-image {
  width: 95%;
  height: 95%;
  margin-left: 2px;
  object-fit: contain;
  align-self: center;
  vertical-align: middle;
  opacity: 80%;
}

button.chatbox-btn.chatbox-btn--send {
  width: 32px;
  height: 32px;
  background: #30656b;
  border-radius: 50%;
  border-style: none;
  vertical-align: middle;
  filter: drop-shadow(1px 1px 2px #2f5675);
}

.chatbox-text {
  border-style: none;
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-right: 5px;
  border-radius: 5px;
  font-size: inherit;
  color: #414141;
  background: #ccc;
}

.chatbox-text:focus {
  outline: none;
}

button.chatbox-btn.chatbox-btn--send:hover {
  background: #4db8c4;
}

.chat-box-list-container {
  block-size: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-box-list-container::-webkit-scrollbar {
  display: none;
}

.chatbox-closed {
  background: #449199;
  position: absolute;
  bottom: 0px;
  right: 5px;
  border-radius: 5px 5px 0 0;
  width: 18%;
}

.chatbox-closed__header {
  border-radius: 5px 5px 0 0;
  padding: 5px;
  overflow: hidden;
  background: #449199;
  display: grid;
  grid-auto-flow: column;
  /*align-items: center;*/
  cursor: pointer;
}
